.rotate {
    animation: rotateAnimation 5s forwards; /* Rotate once for 5 seconds and then stop */
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Add a transition for smooth animation */
.home-section {
    transition: transform 0.5s ease-in-out;
  }
  
  .zoom-in {
    animation-name: zoomIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  